<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DriverToUse" value="Chrome" />
    <add key="TargetUrl" value="https://app.bluealert.pl/ba/form/formularz-testowy" />
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
  </appSettings>
</configuration>